In [2]:
import pandas as pd

# Load data from schools_complete.csv
schools_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv'
schools_data = pd.read_csv(schools_file_path)

# Load data from students_complete.csv
students_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv'
students_data = pd.read_csv(students_file_path)

# Calculate key metrics for schools
total_schools = schools_data['School ID'].nunique()
total_budget = schools_data['budget'].sum()

# Calculate key metrics for students
total_students = students_data['Student ID'].nunique()
average_math_score = students_data['math_score'].mean()
average_reading_score = students_data['reading_score'].mean()

# Percentage passing math
passing_math_percentage = (students_data['math_score'] >= 70).mean() * 100

# Percentage passing reading
passing_reading_percentage = (students_data['reading_score'] >= 70).mean() * 100

# Percentage overall passing
overall_passing_percentage = ((students_data['math_score'] >= 70) & (students_data['reading_score'] >= 70)).mean() * 100

# Create a DataFrame with the key metrics
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})

# Display the district summary
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
# Calculate key metrics for each school
school_summary = pd.DataFrame({
    'School Name': schools_data['school_name'],
    'School Type': schools_data['type'],
    'Total Students': grouped_students['Student ID'].count(),
    'Total School Budget': schools_data['budget'],
    'Per Student Budget': schools_data['budget'] / grouped_students['Student ID'].count(),
    'Average Math Score': grouped_students['math_score'].mean(),
    'Average Reading Score': grouped_students['reading_score'].mean(),
    '% Passing Math': (students_data[students_data['math_score'] >= 70].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100,
    '% Passing Reading': (students_data[students_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100,
    '% Overall Passing': (students_data[(students_data['math_score'] >= 70) & (students_data['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100
})

# Display the school summary
school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,NaN,1910635.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Figueroa High School,District,NaN,1884411.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Shelton High School,Charter,NaN,1056600.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Hernandez High School,District,NaN,3022020.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Griffin High School,Charter,NaN,917500.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Wilson High School,Charter,NaN,1319574.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Cabrera High School,Charter,NaN,1081356.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Bailey High School,District,NaN,3124928.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Holden High School,Charter,NaN,248087.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Pena High School,Charter,NaN,585858.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Wright High School,Charter,NaN,1049400.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Rodriguez High School,District,NaN,2547363.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Johnson High School,District,NaN,3094650.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Ford High School,District,NaN,1763916.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Thomas High School,Charter,NaN,1043130.0,NaN,NaN,NaN,NaN,NaN,NaN
Bailey High School,NaN,NaN,4976.0,NaN,NaN,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,NaN,NaN,1858.0,NaN,NaN,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,NaN,NaN,2949.0,NaN,NaN,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,NaN,NaN,2739.0,NaN,NaN,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,NaN,NaN,1468.0,NaN,NaN,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,NaN,NaN,4635.0,NaN,NaN,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,NaN,NaN,427.0,NaN,NaN,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,NaN,NaN,2917.0,NaN,NaN,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,NaN,NaN,4761.0,NaN,NaN,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,NaN,NaN,962.0,NaN,NaN,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,NaN,NaN,3999.0,NaN,NaN,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,NaN,NaN,1761.0,NaN,NaN,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,NaN,NaN,1635.0,NaN,NaN,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,NaN,NaN,2283.0,NaN,NaN,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,NaN,NaN,1800.0,NaN,NaN,83.682222,83.955000,93.333333,96.611111,90.333333

In [6]:
# Sort the schools by % Overall Passing in descending order
top_schools = school_summary.sort_values(by='% Overall Passing', ascending=False)

# Select the top 5 rows
top_schools = top_schools.head(5)

# Display the top schools
top_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,NaN,NaN,1858.0,NaN,NaN,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,NaN,NaN,1635.0,NaN,NaN,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,NaN,NaN,1468.0,NaN,NaN,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,NaN,NaN,2283.0,NaN,NaN,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,NaN,NaN,962.0,NaN,NaN,83.839917,84.044699,94.594595,95.945946,90.540541

In [7]:
# Sort the schools by % Overall Passing in ascending order
bottom_schools = school_summary.sort_values(by='% Overall Passing', ascending=True)

# Select the top 5 rows
bottom_schools = bottom_schools.head(5)

# Display the bottom schools
bottom_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,NaN,NaN,3999.0,NaN,NaN,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,NaN,NaN,2949.0,NaN,NaN,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,NaN,NaN,2917.0,NaN,NaN,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,NaN,NaN,4635.0,NaN,NaN,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,NaN,NaN,4761.0,NaN,NaN,77.072464,80.966394,66.057551,81.222432,53.539172

In [8]:
import pandas as pd

# Load data from students_complete.csv
students_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv'
students_data = pd.read_csv(students_file_path)

# Calculate average math score for each grade level at each school
math_scores_by_grade = students_data.pivot_table(values='math_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder the columns to display grades in the correct order
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

# Display the DataFrame
math_scores_by_grade

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [9]:
import pandas as pd

# Load data from students_complete.csv
students_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv'
students_data = pd.read_csv(students_file_path)

# Calculate average reading score for each grade level at each school
reading_scores_by_grade = students_data.pivot_table(values='reading_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder the columns to display grades in the correct order
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Display the DataFrame
reading_scores_by_grade

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [13]:
import pandas as pd

# Load data from both schools_complete.csv and students_complete.csv
schools_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv'
students_file_path = r'C:\Users\n.rennie\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv'
schools_data = pd.read_csv(schools_file_path)
students_data = pd.read_csv(students_file_path)

# Calculate budget per student for each school
schools_data['Per Student Budget'] = schools_data['budget'] / schools_data['size']

# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create "Spending Range" column using pd.cut
schools_data['Spending Range'] = pd.cut(schools_data['Per Student Budget'], bins=spending_bins, labels=labels)

# Group students data by school name
grouped_students = students_data.groupby('school_name')

# Calculate average scores and passing percentages by spending range
spending_performance = pd.DataFrame({
    'Average Math Score': grouped_students['math_score'].mean(),
    'Average Reading Score': grouped_students['reading_score'].mean(),
    '% Passing Math': (students_data[students_data['math_score'] >= 70].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100,
    '% Passing Reading': (students_data[students_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100,
    '% Overall Passing': (students_data[(students_data['math_score'] >= 70) & (students_data['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() / grouped_students['Student ID'].count()) * 100
})

# Merge school data with spending performance data
spending_performance = pd.merge(schools_data, spending_performance, on='school_name')

# Group by spending range and calculate average scores and passing percentages
spending_performance_summary = spending_performance.groupby('Spending Range', observed=False).agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})

# Display the table
spending_performance_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [14]:
# Calculate mean scores per spending range
spending_math_scores = spending_performance_summary["Average Math Score"]
spending_reading_scores = spending_performance_summary["Average Reading Score"]
spending_passing_math = spending_performance_summary["% Passing Math"]
spending_passing_reading = spending_performance_summary["% Passing Reading"]
overall_passing_spending = spending_performance_summary["% Overall Passing"]

# Display the results
print("Mean Math Scores per Spending Range:")
print(spending_math_scores)
print("\nMean Reading Scores per Spending Range:")
print(spending_reading_scores)
print("\nMean Passing Math Percentage per Spending Range:")
print(spending_passing_math)
print("\nMean Passing Reading Percentage per Spending Range:")
print(spending_passing_reading)
print("\nMean Overall Passing Percentage per Spending Range:")
print(overall_passing_spending)

Mean Math Scores per Spending Range:
Spending Range
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64

Mean Reading Scores per Spending Range:
Spending Range
<$585       83.933814
$585-630    83.155286
$630-645    81.624473
$645-680    81.027843
Name: Average Reading Score, dtype: float64

Mean Passing Math Percentage per Spending Range:
Spending Range
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64

Mean Passing Reading Percentage per Spending Range:
Spending Range
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64

Mean Overall Passing Percentage per Spending Range:
Spending Range
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % Overall Passing, dtype: float64

In [15]:
# Create spending summary DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the spending summary DataFrame
print(spending_summary)

                Average Math Score  Average Reading Score  % Passing Math  \
Spending Range
<$585                    83.455399              83.933814       93.460096
$585-630                 81.899826              83.155286       87.133538
$630-645                 78.518855              81.624473       73.484209
$645-680                 76.997210              81.027843       66.164813

                % Passing Reading  % Overall Passing
Spending Range
<$585                   96.610877          90.369459
$585-630                92.718205          81.418596
$630-645                84.391793          62.857656
$645-680                81.133951          53.526855